
@import url('https://fonts.googleapis.com/css?family=Karla');

body{
    font-family: 'Karla', sans-serif!important;
    background-color:white;
}


.btn-rounded{
    border-radius: 100px!important;
    border-width: 2px;
}
.btn-blue:hover{
    background-color:#4F93BF;
    border-color:#4F93BF;
    color:white;
}
.btn-blue{
    border-color:#4F93BF;
    color:#4F93BF;
    background-color:rgba(0,0,0,0);
}
#linker{
    font-size:1.2em;
}

